html, body {
    margin: 0;
    background-color: #2f4f30;
    color: white;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
}

.BJ-card {
    position: relative;
    left: 100px;
    width: 150px;
    margin-left: -75px;
}

#IA-cards, #player-cards {
    height: 250px;
}